<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.quizchamp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/Theme.QuizChamp">
        <activity
            android:name=".activity.menu.LoginRegisterActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.modus.SinglePlayerActivity"
            android:exported="true" />

        <activity
            android:name=".activity.modus.HighscoreActivity"
            android:exported="true" />

        <activity
            android:name=".activity.modus.MultiPlayerActivity"
            android:exported="true" />

        <activity
            android:name=".activity.modus.MultiPlayerOnDeviceActivity"
            android:exported="true" />

        <activity
            android:name=".activity.view.ViewHighscoresActivity"
            android:exported="true" />

        <activity
            android:name=".activity.menu.MainMenuActivity"
            android:exported="true" />


        <!-- Inside <application> tag -->
        <meta-data
            android:name="com.google.android.gms.google-services"
            android:value="@string/server_client_id" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>
